@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@layer base {
  ::-webkit-scrollbar {
    display: block;
    width: 0.3rem;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-200 pr-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-sm cursor-pointer;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", "游ゴシック";
}
html,
body {
  min-height: 100%;
  @apply dark:bg-gray-700 dark:text-gray-100 text-sm sm:text-base;
}
.markdown {
  @apply leading-7;
}
.markdown ul {
  @apply list-disc pl-5;
}
.markdown a {
  @apply underline text-purple-700 dark:text-purple-400;
}
.portfolioDetail:hover picture {
  @apply opacity-70;
}
.text-very-large {
  @apply text-2xl sm:text-3xl md:text-4xl;
}
.text-large {
  @apply text-xl sm:text-2xl;
}
.text-very-small {
  font-size: 0.65rem;
  line-height: 0.75rem;
}
input,
textarea {
  @apply dark:text-gray-700;
}
.ribbon {
  @apply bg-red-400 text-xs py-2 pl-2 pr-5;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 15px;
  left: -5px;
  text-align: center;
  font-size: 18px; /*文字サイズ*/
  color: #fff; /*文字色*/
  box-sizing: border-box;
  clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.pf-title-box {
  @apply flex flex-col items-end;
  position: absolute;
  bottom: 15px;
  margin-left: 15%;
  right: 5px;
  z-index: 1;
}
.pf-title {
  @apply text-xl lg:text-2xl text-gray-100;
  background-color: rgba(0, 0, 0, 0.5);
}
