@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@layer base {
  ::-webkit-scrollbar {
    display: block;
    width: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-400;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-sm cursor-pointer;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", "游ゴシック";
}
html,
body {
  min-height: 100%;
  @apply dark:bg-gray-700 dark:text-gray-100;
}
.markdown {
  @apply leading-7;
}
.markdown ul {
  @apply list-disc pl-5;
}
.markdown a {
  @apply underline text-purple-700 dark:text-purple-400;
}
.portfolioDetail:hover picture {
  @apply opacity-70;
}
.darkModeButton {
  @apply relative w-10 h-5 bg-gray-300 bg-no-repeat rounded-full shadow-sm appearance-none cursor-pointer focus:outline-none;
  height: 0.8rem;
}
.darkModeButton::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 1px;
  left: 1px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 150ms;
}
.darkModeButton:checked::before {
  left: 29px;
}
